body{
    height:100vh;
    display:flex;
    padding:0px;
    margin:0px;
    align-items: center;
    justify-content: center;
    font-size:15px;
    flex-wrap: wrap;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box-1{
    background-color:hsl(31, 77%, 52%);
    padding:40px;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
}
.info{
    margin:0px;
    width:200px;
    color:white;
    margin-bottom:80px;
}
.title{
    font-family:'Big Shoulders Display';
    color:white;
}
.learn-more-button{
    background-color:hsl(0, 0%, 95%);
    border:none;
    width:160px;
    height:40px;
    color:hsl(31, 77%, 52%);
    border-radius:20px;
    font-size:15px;
    font-family:'Lexend Deca';
    box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
}
.box-2{
    background-color:hsl(184, 100%, 22%);
    padding:40px;
}
.box-3{
    background-color:hsl(179, 100%, 13%);
    padding:40px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
}

@media (max-width:54rem){
    .container{
        grid-template-columns: 1fr;
    }
    .box-1{
        border-bottom-left-radius: 0px;
        border-top-right-radius:25px;
    }
    .box-3{
        border-top-right-radius:0px;
        border-bottom-left-radius:25px;
    }
}